@model List<MoneyFlow.Models.ServiceVM>

@{
}

<div class="row">
    <div class="col-sm-6">
        <h2>SERVICES</h2>
    </div>
    <div class="col-sm-6">
        <a href="/Service/newServices" class="btn btn-outline-success">New services</a>
    </div>

</div>

<hr />

<div class="row mt-5">
    <div class="col-sm-12">
            
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Name</th>
                        <th>@item.Type</th>
                        <th>
                            <a href="#" class="btn btn-warning btn-sm">EDITAR</a>
                            <a href="#" class="btn btn-danger btn-sm">ELIMINAR</a>
                        </th>

                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>
