@model List<MoneyFlow.Entities.Service>

@{
}


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Name</th>
                <th>@item.Type</th>
                <th>@item.User</th>

            </tr>
        }

    </tbody>
</table>
