
@{
}


<div class="row">
    <div class="col-sm-6">
        <h2>TRANSACTION HISTORY</h2>
    </div>
</div>
<hr />
<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="txtStartDate" class="col-form-label">Start Date</label>
    </div>
    <div class="col-auto">
        <input type="date" id="txtStartDate" class="form-control" >
    </div>
    <div class="col-auto">
        <label for="txtEndDate" class="col-form-label">End Date</label>
    </div> 
    <div class="col-auto">
        <input type="date" id="txtEndDate" class="form-control">
    </div>
    <div class="col-sm-3">
        <div class="mb-2">
            <button type="button" class="btn btn-success" onclick="SearchTransaction()">Filter</button>
        </div>     
    </div>
</div>


<div class="row mt-5">
    <div class="col-sm-12">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>MONTH</th>
                    <th>TYPE SERVICE</th>
                    <th>TOTAL AMOUNT</th>
                    <th style="width: 200px">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.6/css/buttons.dataTables.css" />  

}

@section Scripts {
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.2.6/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/buttons.print.min.js"></script>

    <script>

        let tableData;

        $(document).ready( function () {

        tableData = $('#myTable').DataTable({
                ajax: {
                    url: "/Transaction/GetHistory?startDate=1999/01/07&endDate=1999/03/30",
                    type: "GET",
                    dataType: "json"
                },
                columns: [
                    {title: "Date" , data: "date", width: "150px"},
                    {title: "Month" , data: "month", width: "150px"},
                    {title: "Type Service" , data: "typeService", width: "150px"},
                    {title: "Service" , data: "service", width: "150px"},
                    {title: "Total Amount" , data: "totalAmount", width: "150px"}
                ],
                layout: {
                    topStart: {
                        buttons: ['excel', 'pdf', 'print']
                    }
                }
            });
        } );




        function SearchTransaction(){
            const StartDate = $('#txtStartDate').val()
            const EndDate = $('#txtEndDate').val()

            const newUrl = `/Transaction/GetHistory?startDate=${StartDate}&endDate=${EndDate}`;
            tableData.ajax.url(newUrl).load();
        }
    </script>
}

                    